*{
  box-sizing: border-box;
}

html, body {
  background-color: #bebebe;
  margin:0;
  padding:0;
}

#root{
  margin: 0;
  padding: 0;
}

#txtbox {
  display: block;
  height: 80vh;
  border: 1px solid #a9a9a9;
  box-shadow: 3px 3px 3px #606060;
  width: 70vw;
  margin: 5em auto;
  padding: 5em;
  background-color: white;
  font-family: sans-serif;
}

#txtbox:focus { 
    outline:none; 
    border: none;
}

#txtbox span {
    border: 1em #a9a9a9a;
    border-style: none solid none none;
}
