*{
  box-sizing: border-box;
}

html, body {
  background-color: #bebebe;
  margin:0;
  padding:0;
}

#root{
  margin: 0;
  padding: 0;
  font-size: 10px;
}

#txtbox {
    display: block;
    position: relative;
    height: 80em;
    border: 1px solid #a9a9a9;
    box-shadow: 3px 3px 3px #606060;
    width: 70em;
    margin: 5em auto;
    padding: 5em;
    background-color: white;
    z-index: 0;
}

p {
    font-family: sans-serif;
    font-size: 1.8em;
    display: inline-block;
    height: 2.3em;
    width: 100%;
    line-height: 2.3em;
    letter-spacing: .1px;
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
}

p span {
    display: inline-block;
    position: relative;
    height: 100%;
}

#txtbox:focus { 
    outline:none; 
    border: none;
}

span .cursor {
    position: absolute;
    display: inline-block;
    top: .4em;
    height: 1.4em;
    width: 0;
    border-color: #000000;
    border-style: none solid none none;
    border-width: .15em;
    z-index: 10;
}

.hide {
    display: none;
}
